html {
    font-size: 1.111vw;
}

body {
    margin: 0;
    background-color: black;
    text-align: center;
}

.slider {
    margin: auto;
    width: 23rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100vh;
    max-height: 120vh;
    justify-content: center;
}

.slider-wrapper {
    display: flex;
    height: fit-content;
    gap: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
}

.slide {
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s linear;
    align-items: center;
    height: fit-content;
}

.slide-img {
    width: 21rem;
    height: 22rem;
    object-fit: cover;
    border: 0.1rem black solid;
    outline: 0.1rem white solid;
}

.slide-desc {
    color: white;
    margin-right: 8rem;
    height: 9.5rem;
    font-size: 1.5rem;
}

p {
    margin: 0;
}

.slide-desc p:first-child {
    font-size: 2.5rem;
}

.slide-desc p:last-child {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.pagination label {
    width: 0.5rem;
    height: 0.5rem;
    background: white;
    border: 0.1rem solid transparent;
    display: block;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem 1rem transparent;
}


.pagination label:hover {
    background: black;
    border: 0.2rem solid white;
}


input {
    display: none;
}


#item-1:checked~.slider-wrapper #slide-1 {
    margin-left: 0;
}

#item-1:checked~.pagination label:first-child{
    background: black;
    border: 0.2rem solid white;
}

#item-2:checked~.slider-wrapper #slide-1 {
    margin-left: -22rem;
}

#item-2:checked~.pagination label:nth-child(2){
    background: black;
    border: 0.2rem solid white;
}

#item-3:checked~.slider-wrapper #slide-1 {
    margin-left: -45rem;
}

#item-3:checked~.pagination label:nth-child(3){
    background: black;
    border: 0.2rem solid white;
}

#item-4:checked~.slider-wrapper #slide-1 {
    margin-left: -46em;
}

#item-4:checked~.pagination label:nth-child(4){
    background: black;
    border: 0.2rem solid white;
}

#item-5:checked~.slider-wrapper #slide-1 {
    margin-left: -92rem;
}

#item-5:checked~.pagination label:nth-child(5){
    background: black;
    border: 0.2rem solid white;
}

.pagination {
    display: flex;
    gap: 0.5rem;
    margin: -9.1rem 1.5rem 1rem 0;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
}

@media (min-width: 90em) {
    html {
        font-size: 16px;
    }
}


@media (max-width: 48em) {
    .pagination {
        margin: 2rem 0;
        justify-content: center;
    }

    .slide-desc {
        margin: 0;
        height: fit-content;
    }
}