html {
    font-size: 1.111vw;
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    text-align: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.slider {
    margin: auto;
    width: 23rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: max-content;
    justify-content: center;
}

.slider-wrapper {
    display: flex;
    gap: 1rem;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
}

.slide {
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.3s linear;
    align-items: center;
}

.slide-img {
    margin-top: 0.1rem;
    width: 21rem;
    height: 22rem;
    object-fit: cover;
    border: 0.1rem black solid;
    outline: 0.1rem white solid;
}

.slide-desc {
    color: white;
    margin-right: 8rem;
    height: 4.3rem;
    font-size: 1.3rem;
    z-index: 2;
}

p {
    margin: 0;
}

.slide-desc {
    font-size: 2rem;
}

.pagination label {
    display: block;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 0.35rem;
    margin-top: -6.2rem;
    background: black;
}

.pagination label span {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    background: white;
    border: 0.1rem solid transparent;
    transition: all 0.2s linear;
}


.pagination label:hover span {
    background: black;
    border: 0.2rem solid white;
    transition: all 0.2s linear;
}

.pagination label:active span {
    background: greenyellow;
    transition: background 0.2s linear;
    border: 0.2rem solid white;
}


input {
    display: none;
}


#item-1:checked~.slider-wrapper #slide-1 {
    margin-left: 0;
}

#item-1:checked~.pagination label:first-child span {
    background: black;
    border: 0.2rem solid white;
}

#item-2:checked~.slider-wrapper #slide-1 {
    margin-left: -22rem;
}

#item-2:checked~.pagination label:nth-child(2) span {
    background: black;
    border: 0.2rem solid white;
}

#item-3:checked~.slider-wrapper #slide-1 {
    margin-left: -45rem;
}

#item-3:checked~.pagination label:nth-child(3) span {
    background: black;
    border: 0.2rem solid white;
}

#item-4:checked~.slider-wrapper #slide-1 {
    margin-left: -68rem;
}

#item-4:checked~.pagination label:nth-child(4) span {
    background: black;
    border: 0.2rem solid white;
}

#item-5:checked~.slider-wrapper #slide-1 {
    margin-left: -92rem;
}

#item-5:checked~.pagination label:nth-child(5) span {
    background: black;
    border: 0.2rem solid white;
}

.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: black;
    width: fit-content;
    margin-left: auto;
}



@media (max-width: 48em) {
    .slider {
        height: 100%;
    }
    .pagination {
        margin: -17rem 0 2rem;
        justify-content: center;
        width: 100%;
    }

    .slide-desc {
        margin: 6rem 0 0;
        font-size: 5.5rem;
        height: fit-content;
    }

    .slide, .slider, .slide-img {
        width: 37rem;
    }

    .slide-img {
        height: 37rem;
    }

    .pagination label span {
        border: 0.3rem solid transparent;
    }

    .pagination label {
        margin-top: 0;
        padding: 1rem;
    }

    .pagination label span {
        width: 2rem;
        height: 2rem;
    }

    .pagination label:hover span {
        border: 0.3rem solid white;
    }

    #item-1:checked~.pagination label:first-child span {
        border: 0.5rem solid white;
    }


    #item-2:checked~.slider-wrapper #slide-1 {
        margin-left: -37.9rem;
    }

    #item-2:checked~.pagination label:nth-child(2) span {
        background: black;
        border: 0.5rem solid white;
    }

    #item-3:checked~.slider-wrapper #slide-1 {
        margin-left: -76rem;
    }

    #item-3:checked~.pagination label:nth-child(3) span {
        background: black;
        border: 0.5rem solid white;
    }

    #item-4:checked~.slider-wrapper #slide-1 {
        margin-left: -114rem;
    }

    #item-4:checked~.pagination label:nth-child(4) span{
        background: black;
        border: 0.5rem solid white;
    }

    #item-5:checked~.slider-wrapper #slide-1 {
        margin-left: -152rem;
    }

    #item-5:checked~.pagination label:nth-child(5) span {
        background: black;
        border: 0.5rem solid white;
    }
}
